on: [ 'push', 'pull_request' ]

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      if: success()
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Calculate coverage
      run: |
        git submodule update --init
        go test -v -covermode=count -coverprofile=coverage.out ./...
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        files: ./coverage.out
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
